<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>问题内容管理</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/admin/css/bootstrap-theme.min.css" />
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/admin/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="common/nav :: mynav"></div>

<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
            <!--<ul class="nav nav-sidebar" style="margin-top: 80px">-->
                <!--<li><a href="#">发布管理</a></li>-->
                <!--<li><a href="">用户管理</a></li>-->
                <!--<li><a href="">平台信息</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <div th:replace="common/sider :: mysider"></div>


            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>图书名</th>
                        <th>所属类别</th>
                        <th>作者</th>
                        <th>简介</th>
                        <th>图片</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="lst:${lst}">
                        <td th:text="${lst.id}"></td>
                        <td th:text="${lst.bookName}"></td>
                        <td th:text="${lst.category.cname}"></td>
                        <td th:text="${lst.author}"></td>
                        <td th:text="${lst.dsc}"></td>
                        <td>
                            <img th:src="@{${lst.pic}}" width="30px;" height="30px;" />
                        </td>

                        <td th:text="${lst.money}"></td>

                        <td><a th:href="@{/book/deleteBookById(id=${lst.id})}"><button class="btn btn-danger btn-sm" type="submit">删除</button></a></td>
                    </tr>
                    </tbody>
                </table>
                    <a th:href="@{/page/toAddBook}"><button type="submit" class="btn btn-primary btn-sm">添加图书</button></a>
            </div>


        </div>
    </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
